@import '../../../assets/styles/base/variables';

.item {
  position: relative;
  border: 1px solid $base-color;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
  display: inline-block;
  width: 100%;
  height: 100%;
}

.arrow {
  position: absolute;

  &:first-of-type {
    left: 0;
  }

  &:last-of-type {
    right: 0;
    transform: rotateY(180deg);
  }
}

.content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 30px 15px;
}

.title {
  display: block;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 15px;
}

.fork {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  opacity: 0.1;
}
